/frontend/OrderlyDesktop/JavaApplication31/nbproject/private/
/frontend/OrderlyDesktop/JavaApplication31/build/
/frontend/OrderlyDesktop/Orderly/nbproject/private/
/frontend/OrderlyDesktop/Orderly/build/
/frontend/orderly/target
