.main-container {
    -fx-background-color: #ffffff;
    -fx-border-width: 12px;
    -fx-background-radius: 12px;
    -fx-border-color: transparent;
    -fx-padding: 10 20 10 20;
}
.toggle-container{
    -fx-border-width: 0 0 1.5 0;
    -fx-border-color: #f3f4f6;
    -fx-padding: 0 0 -2 0;
}
.tab-toggle {
    -fx-background-color: transparent;
    -fx-text-fill: #374151;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-alignment: CENTER;
    -fx-cursor: hand;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: transparent;
}

.tab-toggle:hover {
    -fx-text-fill: #f97316; /* orange-500 */
}

.tab-toggle:selected {
    -fx-border-color: #f97316;
    -fx-text-fill: #f97316;
}

.tab-icon {
    -fx-stroke: #9ca3af; /* серый */
    -fx-stroke-width: 2;
    -fx-fill: transparent;
}

.tab-toggle:selected .tab-icon {
    -fx-stroke: #f97316;
}
