.main-container {
    -fx-background-color: #ffffff;
    -fx-border-width: 12px;
    -fx-background-radius: 12px;
    -fx-border-color: transparent;
    -fx-padding: 10 20 10 20;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.08), 12, 0, 0, 2);
}
.toggle-container{
    -fx-border-width: 0 0 1.5 0;
    -fx-border-color: #f3f4f6;
    -fx-padding: 0 0 -2 0;
}
.tab-toggle {
    -fx-background-color: transparent;
    -fx-text-fill: #9ca3af;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-alignment: CENTER;
    -fx-cursor: hand;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: transparent;
}

.tab-toggle:hover {
    -fx-text-fill: #f97316; /* orange-500 */
}

.tab-toggle:selected {
    -fx-border-color: #f97316;
    -fx-text-fill: #f97316;
}

.tab-icon {
    -fx-stroke: #9ca3af; /* серый */
    -fx-stroke-width: 2;
    -fx-fill: transparent;
}

.tab-toggle:selected .tab-icon {
    -fx-stroke: #f97316;
}
.form-label{
    -fx-text-fill: #9ca3af;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}
.form-textfield, .form-combobox{
    -fx-background-color: #f5f7fa;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-text-fill: #000000;
    -fx-font-size: 14px;
}

.combo-box-popup .list-view{
    -fx-background-color: #f5f7fa;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-text-fill: #000000;
    -fx-font-size: 14px;
}
.combo-box .arrow {
    -fx-background-color: #f97316;
    -fx-shape: "M 0 0 L 4 4 L 8 0 Z";
}
.combo-box-popup .list-cell:hover {
    -fx-background-color: #fed7aa;
    -fx-text-fill: #9a3412;
}

.blank-element{
    -fx-border-width: 1px;
    -fx-border-color: darkred;
}

.submit-button{
    -fx-background-color: rgba(249, 115, 22, 0.71);
    -fx-background-radius: 10px;
    -fx-alignment: center-right;
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
    -fx-padding: 5 20 5 20;
    -fx-font-weight: bold;
}
.color-picker {
    -fx-background-color: #f5f7fa;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: transparent;
    -fx-text-fill: #000000;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-padding: 4 8 4 8;
}

.color-picker:hover {
    -fx-background-color: #fed7aa; /* светло-оранжевый при наведении */
}


.color-picker .arrow-button {
    -fx-background-color: transparent;
}

.color-picker .arrow {
    -fx-background-color: #f97316;
    -fx-shape: "M 0 0 L 4 4 L 8 0 Z";
}

.color-picker .color-picker-label {
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}

.color-palette {
    -fx-background-color: #fed7aa;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.08), 6, 0, 0, 1);
}

.table-buttons{
    -fx-background-color: #f5f7fa;
    -fx-background-radius: 10px;
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.table-buttons-pressed {
    -fx-background-color: #fed7aa;
    -fx-text-fill: #9a3412;
}


